@font-face {
    font-family: 'axelregular';
    src: url('axel-webfont.eot');
    src: url('axel-webfont.eot?#iefix') format('embedded-opentype'),
         url('axel-webfont.woff2') format('woff2'),
         url('axel-webfont.woff') format('woff'),
         url('axel-webfont.ttf') format('truetype'),
         url('axel-webfont.svg#axelregular') format('svg');
/*    //font-weight: normal;
    font-style: normal;*/

}

h1{
	color: lightblue;
    font-family: 'axelregular';
    font-size:100px;
    letter-spacing: 0.625em;
    text-align: center;
}
#info{
  color: white;
  font-family: vijaya;
  font-size: 25px;
  min-width:100%;
  text-align: center;
}
#aboutme {
height: 34px;
padding-top: 1px;
padding-bottom: 0px;
background-color:;
text-align: center;
}
#portfolio {
height: 34px;
padding-top: 1px;
padding-bottom: 0px;
background-color:;
text-align: center;
}
#projects {
height: 34px;
padding-top: 1px;
padding-bottom: 0px;
background-color:;
text-align: center;
}
#back{
height: 34px;
padding-top: 1px;
padding-bottom: 0px;
background-color:;
text-align: center;
  display:none;
}
